*,
*::before,
*::after {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.score-time {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin-top: 20px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: rgb(149, 183, 212);
}
button {
  height: fit-content;
  width: fit-content;
  min-width: 75px;
  padding: 10px 5px 10px 5px;
  margin: 3px;
  border-radius: 10px;
}

button:hover {
  box-shadow: 5px 5px 8px;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
  min-width: 75px;
  margin: 3px;
  margin-right: 25px;
  padding: 10px 5px 10px 5px;
}

/* .start-btn,
.end-btn {
  text-align: center;
} */

header {
  flex: 0 0 100;
  background-color: antiquewhite;
}

.text-container,
.card-container,
.done-container,
.score-container {
  display: flex;
  height: 400px;
  width: 100vw;
  padding: 10vw;
  margin: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.card-container,
.done-container,
.score-container {
  background-color: antiquewhite;
}

.answers {
  list-style: none;
}
.answers li {
  width: 100vw;
  border: 2px solid black;
}

.hscore {
  list-style: none;
}

.feedback {
  text-align: center;
}
