*,
*::before,
*::after {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  box-sizing: border-box;
}
.score-time {
  display: flex;
  height: 10vh;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
button {
  height: 8vh;
  width: 10vw;
  min-width: 75px;
  margin: 3px;
  border-radius: 10px;
}

/* .time {
  height: 8vh;
  width: 10vw;
  min-width: 75px;
  margin: 3px;
  padding: 10px 0 0 5px;
} */

/* .start-btn,
.end-btn {
  text-align: center;
} */

header {
  flex: 0 0 100;
}
.text-container,
.card-container,
.done-container,
.score-container {
  display: flex;
  height: 400px;
  width: 600px;
  border: 2px solid black;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.feedback {
  text-align: center;
}
